spring:
  main:
    allow-circular-references: true
  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://ec2-52-221-236-155.ap-southeast-1.compute.amazonaws.com:8080/realms/Nguyen
          jwk-set-uri: ${spring.security.oauth2.resource-server.jwt.issuer-uri}/protocol/openid-connect/certs
  datasource:
    url: jdbc:mysql://localhost:3306/ticketmovie
    username: root
    password: Nguyen@1475369

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  application:
    name: MovieService

jwt:
  auth:
    converter:
      resource-id: nguyen-rest-api
      principle-attribute: preferred_username

server:
  port: 8083
