spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: myphamskincares@gmail.com
    password: mpckijfvlqsvvwds
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  main:
    allow-circular-references: true
  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://ec2-52-221-236-155.ap-southeast-1.compute.amazonaws.com:8080/realms/Nguyen
          jwk-set-uri: ${spring.security.oauth2.resource-server.jwt.issuer-uri}/protocol/openid-connect/certs
  datasource:
    url: jdbc:mysql://containers-us-west-50.railway.app:7777/railway
    username: root
    password: IjRtr04kQPcfdEdGvru8

  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
      ddl-auto: update
    show-sql: true

  application:
    name: ticket-service

jwt:
  auth:
    converter:
      resource-id: nguyen-rest-api
      principle-attribute: preferred_username

server:
  port: 8084